<head>
  <title>Contact</title>
  <%= stylesheet_link_tag "contact", "data-turbo-track": "reload" %>
</head>
<div class="contact-page">
  <h1>Schedule a Consultation</h1>
  <p>
    If you’d like to reach me for other questions first, you can email me at TODO. In case of emergency, please do not contact me through this website, and instead use the resources listed
    <%= link_to "here", resources_path %>.
  </p>
</div>
